<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Another To Do APP</title>
</head>

<body>
    <div>
        <h1>To Do APP</h1>
    </div>
    <div>
        <form action="/create-todo" method="POST">
            <div>
                <p>
                    <label for="name">Create new To-Do Item</label>
                </p>
                <p>
                    <input type="text" id="description" name="description">
                    <input type="submit" id="submit" value="Create" />
                </p>
            </div>
        </form>
    </div>

    <p>
    <div>
        {% for d in context %}
        <li>{{ d.description }}</li>
        {% endfor %}
    </div>
    </p>
</body>

</html>